<div class="wrap-login">
    <div class="wrap-auth__header">Login</div>
    <form class="form-auth" action="/login" method="POST">
        <input type="text" name="login" placeholder="your login">
        <input type="password" name="password" placeholder="your password">
        <input type="submit">
    </form>
    {{#if message}}
    <div class="message my-3">{{message}}</div>
    {{/if}}
    <div class="mt-5 btn-warning mx-auto index-link">
        <a class="btn" href="/signup">Go to registration</a>
    </div>
</div>