<div class="wrap-signup">
    <div class="my-2">Registration</div>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="you username">
        <input type="text" name="login" placeholder="you login">
        <input type="text" name="email" placeholder="you email">
        <input type="text" name="password" placeholder="you password">
        <input type="submit">
    </form>
    {{#if message}}
    <div class="message my-3">{{message}}</div>
    {{/if}}
    <div class="my-4 btn-warning">
        <a class="btn" href="/login" style="display: block">Go to login</a>
    </div>
</div>